@media (min-width: 330px) and (max-width: 615px) {
  /* ===========================================================
Header
=========================================================== */

  /* .header {
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .header-img {
    width: 100%;
    object-fit: cover;
    height: auto;
  } */

  .header-text {
    position: absolute;
    margin-top: -7rem;
  }

  .header-text p {
    margin-top: -10px;
  }
  /* header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  } */
}
