/* ===========================================================
General Styling
=========================================================== */

main {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
}

.header-text,
img {
  width: 100%;
}

/* ===========================================================
Header
=========================================================== */

#title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: none;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header-img {
  position: relative;
  opacity: 80%;
}

.header-text {
  position: absolute;
  font-size: 4vw;
  margin-top: -20rem;
  color: #fff;
}

.header-text p {
  font-family: "Baloo Tamma 2", cursive;
  font-size: 3vw;
  margin-top: -20px;
}

h1 {
  font-family: "Lobster", cursive;
  text-transform: uppercase;
  margin-bottom: 0;
}

/* ===========================================================
Main Images/Captions
=========================================================== */

#title,
#description {
  margin-top: 0;
  margin-bottom: 0;
}

.survey-description,
.form {
  background-color: #21120b;
  color: #fff;
  padding-top: 0.1rem;
  font-family: "Raleway Dots", cursive;
  font-size: 3vw;
}

/* ===========================================================
Survey Form
=========================================================== */

#survey-form {
  padding-top: 1rem;
  padding-left: 0.3rem;
}

.form {
  text-align: left;
}

/* ===========================================================
Video
=========================================================== */

/* video {
  width: 100%;
}

.video {
  height: 330px;
  width: 350px;
} */
