/* ===========================================================
General Styling
=========================================================== */

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  margin: 0 auto;
}

.header-text,
.header,
img {
  width: 100%;
}

/* ===========================================================
Header
=========================================================== */

#title {
  text-transform: none;
}

.header-img {
  opacity: 80%;
}

.header-position {
  position: relative;
}

.header-text {
  position: absolute;
  font-size: 4vw;
  color: #fff;
  transform: translate(1.3%, -122.2%);
}

.header-text h {
  font-family: "Baloo Tamma 2", cursive;
  font-size: 3vw;
}

.header-text p {
  margin-top: 0;
}

.header img {
  margin-bottom: -0.25rem;
}

h1 {
  font-family: "Lobster", cursive;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-top: 0.5rem;
}

/* ===========================================================
Main Images/Captions
=========================================================== */

#title,
#description {
  margin-top: 0.4rem;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}

.survey-description,
.form {
  background-color: #889890;
  color: #fff;
  font-family: "Raleway Dots", cursive;
  font-size: 3vw;
}

.img1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fac16d;
}

/* ===========================================================
Survey Form
=========================================================== */

.survey-description {
  color: #fff;
}

.form-design {
  text-align: left;
  background-color: #889890;
  max-width: 100%;
  margin: 0 auto;
  padding: 1.1rem;
}

.form-group {
  margin: 0 auto 0.5rem auto;
  padding: 0.05rem;
}

.form-control,
.input-textarea {
  display: inline-block;
  width: 100%;
  height: 2.175rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.input-textarea {
  height: 6rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

label {
  display: flex;
  align-items: left;
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}

input[type="submit"] {
  width: 100%;
  background-color: #fff;
  color: #000000;
  padding: 0.7rem;
  margin-bottom: 0.3rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* ===========================================================
Footer
=========================================================== */

.footer-style {
  background: #fac16d;
  color: #59301b;
  padding-bottom: 0.02rem;
  font-family: "Lobster", cursive;
  text-transform: uppercase;
}

video {
  width: 100%;
}

/* ===========================================================
Media Query
=========================================================== */

@media (min-width: 576px) {
  .header-text {
    transform: translate(1.3%, -103.5%);
  }

  .form-design {
    display: flex;
    justify-content: center;
  }

  .img2,
  .img3 {
    margin: 3rem;
  }

  .survey-description {
    font-size: 2.5vw;
  }

  header,
  main,
  footer {
    max-width: 1440px;
  }

  label {
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }
}

/* @media (min-width: 700px) {
  #title,
  #description {
    padding: 1rem 4rem 0;
  }

  .img1,
  .img3 {
    padding: 3rem;
  }

  .img3 {
    margin: 0 2rem;
  }

  .survey-description,
  .form-design,
  .footer-style {
    max-width: 720px;
    padding: 0;
    margin: 0 auto;
    background: #889890;
  } 

  .footer-style {
    padding: 2rem 6rem 1rem 6rem;
    background: #fac16d;
  }

  label {
    font-size: 2.5vw;
  }
} */
